@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body{
    margin:0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    
}



.header{
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    justify-content: space-between;
    align-items: baseline;
    padding: 1px 200px;
}

.header-logo{
    font-weight: 700;
}
.header-links{
    list-style-type: none;
    display: flex;
    gap:20px;
    font-size: 28px;
}

.header a{
    text-decoration: none;
    color:#aaacb1;
    font-size: 18px;
}

.intro-left{
    background-color: #1F2937;
}

.intro-bold-text{
    font-size: 60px;
    font-weight:800;
    color:#F9FAF8;

}

.intro-body{
    color:#aaacb1;
    font-size: 20px;
    padding-bottom: 10px;
    
}

.intro{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;

}

.intro-right{
    background-color:#93939b;
    height: 220px;
    width: 750px;
}

.intro-right p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.intro-button{
    background-color: #3882F6 ;
    border-radius: 8px;
    color:white;
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-style: none;
    
}